<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Goodbye <%= @user.firstname %></h1>
    <p>
      You have successfully deleted your account <br>
    </p>
    
  </body>
</html>